{% extends 'employee_data/employee_data-base.html' %}

{% block employee-title-content %}
  <title>Intranet Homepage</title>
{% endblock employee-title-content %}
  
   
{% block employee-main-content %}
{% if user.is_authenticated %}
  <h1>สวัสดี &nbsp; คุณ{{ request.user.first_name }} &nbsp; {{ request.user.last_name }} </h1>
  <br>
  {% if position_status == True %}
    <h2>Your position in the company</h2>
    {% for position in position_list %}
      <h3>{{ forloop.counter }}.{{ position }}</h3>
    {% endfor %}
  {% else %}
    <h2>Waiting HR or admin assign your position in the company.</h2>
  {% endif %}
{% endif %}


{% endblock employee-main-content %}


    
  
</html>