{% extends 'employee_data/employee_data-base.html' %}

{% block employee-title-content %}
  <title>Log in</title>
{% endblock employee-title-content %}
  

{% block employee-main-content %}
  <main class="form-signin w-80 m-auto text-center">
    <form method="POST" novalidate>
      {% csrf_token %}
      {% load static %}
      <img class="mb-4" src="{% static 'img/AWS logo.png' %}" alt="" width="10%" class="rounded-pill" >
      <h1 class="h2 py-2 mb-3 fw-normal">กรุณาลงชื่อเข้าใช้งาน</h1>

      {% if warning_msg %}
        <h3 class="p-3 mb-2 bg-danger text-white">{{ warning_msg }}</h3>
      {% endif %}

      <div class="form-floating">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" style="height: 60px; font-size:25px;">
        <label for="username">Username</label>
      </div>
      <br>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="height: 60px; font-size:25px;">
        <label for="password">Password</label>
      </div>
      <br>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <br><br>
      <span><a class="py-2 text-dark text-center h4 text-underline-hover" href="{% url 'register-page' %}">Register</a></span>
    </form>
  </main>
{% endblock employee-main-content %}