{% extends 'admin_section/admin-base.html' %}

{% block title-content %}
  <title>Workshop homepage</title>
{% endblock title-content %}
  
   
{% block main-content %}
<style>
    .grid-container-add-position{
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .grid-container-add-customer{
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .grid-container-assign-position{
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
  <main class="form-group w-60 m-auto">
    <h1 class="h2 mb-3 fw-bold">Add position in the company</h1>
    <br>
    <div class="grid-container-add-position">
        <div style="padding-right: 20px; padding-left: 20px;" width="60vw">
            {% if add_position_warning_msg %}
                <h3 class="p-3 mb-2 bg-danger text-white">{{ add_position_warning_msg }}</h3>
            {% endif %}
            <form method="POST" novalidate>
                {% csrf_token %}
                <div class="form-floating">
                    <input type="text" class="form-control" id="new_position" name="new_position" placeholder="New position" style="height: 60px;">
                    <label for="new_position" style="font-size:18px;">New position</label>
                </div>
                <br>
                <button class="w-100 btn btn-lg btn-primary" type="submit" name="add_position">Add</button>
            </form>
        </div>
        <div style="padding: 20px;" width="60%">
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody>
                    {% for position in all_position %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ position.position_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <hr style="color:black;border:none;height:5px;background-color:black;">
    <h1 class="h2 mb-3 fw-bold">Add our customer</h1>
    <br>
    <div class="grid-container-add-customer">
            <div style="padding-right: 20px; padding-left: 20px;" width="60vw">
                {% if add_customer_warning_msg %}
                    <h3 class="p-3 mb-2 bg-danger text-white">{{ add_customer_warning_msg }}</h3>
                {% endif %}
                <form method="POST" novalidate>
                    {% csrf_token %}
                    <div class="form-floating">
                        <input type="text" class="form-control" id="new_customer_full_name" name="new_customer_full_name" placeholder="ชื่อเต็มของบริษัท" style="height: 60px;" required>
                        <label for="new_customer_full_name" style="font-size:18px;">ชื่อเต็มของบริษัท</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="new_customer_initial_name" name="new_customer_initial_name" placeholder="ชื่อย่อของบริษัท" style="height: 60px;" required>
                        <label for="new_customer_initial_name" style="font-size:18px;">ชื่อย่อของบริษัท</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <textarea type="text" class="form-control" id="new_customer_address" name="new_customer_address" placeholder="ที่อยู่ของบริษัท" style="height: 20vh; font-size:18px;"></textarea>
                        <label for="new_customer_address" style="font-size:18px;">ที่อยู่ของบริษัท</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="new_customer_tel" name="new_customer_tel" placeholder="เบอร์โทรศัพท์" style="height: 60px;">
                        <label for="new_customer_tel" style="font-size:18px;">เบอร์โทรศัพท์</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="new_customer_email" name="new_customer_email" placeholder="Email" style="height: 60px;">
                        <label for="new_customer_email" style="font-size:18px;">Email</label>
                    </div>
                    <br>
                    <button class="w-100 btn btn-lg btn-primary" type="submit" name="add_customer">Add</button>
                </form>
            </div>
            <div style="padding: 20px;" width="60%">
                <table class="table table-bordered">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Customer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in all_customer %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ customer.full_name }}&nbsp;( {{customer.initial_name}} )</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
    <br>
    <hr style="color:black;border:none;height:5px;background-color:black;">
    <h1 class="h2 mb-3 fw-bold">Assign position to employee</h1>
    <br>
    <div class="grid-container-add-customer">
        <div style="padding-right: 20px; padding-left: 20px;" width="60vw">
            {% if assign_position_warning_msg %}
                <h3 class="p-3 mb-2 bg-danger text-white">{{ assign_position_warning_msg }}</h3>
            {% endif %}
            <form method="POST" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="admin_employee" style="font-size:22px;">กรุณาเลือกพนักงาน&nbsp;&nbsp;</label>
                    <select class="form-select form-select-lg mb-3" aria-label="Default select example" name="admin_employee" id="admin_employee" style="height: 60px;">
                      <option selected>กรุณาเลือกพนักงาน</option>
                    {% for employee in all_employee %}
                      <option value="{{ employee.username }}">{{ employee.first_name }}&nbsp;{{ employee.last_name }}&nbsp;({{ employee.username }})</option>
                    {% endfor %}
                    </select>
                  </div>
                <br>
                <div class="form-group">
                    <label for="employee_position" style="font-size:22px;">กรุณาเลือกตำแหน่งงาน&nbsp;&nbsp;</label>
                    <select class="form-select form-select-lg mb-3" aria-label="Default select example" name="employee_position" id="employee_position" style="height: 60px;">
                      <option selected>กรุณาเลือกตำแหน่งงาน</option>
                    {% for position in all_position %}
                      <option value="{{ position.position_name }}">{{ position.position_name }}</option>
                    {% endfor %}
                    </select>
                  </div>
                <br>
                <button class="w-100 btn btn-lg btn-primary" type="submit" name="assign_position">Assign</button>
            </form>
        </div>
        <div style="padding: 20px;" width="60%">
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Employee</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile_position in all_profile_position %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            {% for employee in all_employee %}
                                {% if profile_position.profile_id.user.username == employee.username %}
                                        <td>{{ employee.first_name }}&nbsp;{{ employee.last_name }}</td>
                                        <td>{{profile_position.position_id.position_name}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </main>
{% endblock main-content %}
