{% extends 'aws_homepage/homepage-base.html' %}

{% block homepage-title-content %}
    <title>AWSTH Homepage</title>
{% endblock homepage-title-content %}


{% block main-detail %}
<h2>แผนที่บริษัท</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.0105839288035!2d100.4118937153476!3d13.657119990408805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2bd19abf2d383%3A0x75c9a6b60da31d50!2sAdvanced%20and%20Wise%20Solution%20Co.%2C%20Ltd.!5e0!3m2!1sth!2sth!4v1663731783856!5m2!1sth!2sth" style="width:100%;border:0;" height="400px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
<hr>
<h2>ที่อยู่บริษัท</h2>
<br>
<h3>บริษัท แอ็ดว๊านซ์ แอนด์ ไวส์ โซลูชั่น จำกัด</h3>
<h3>101, 103 ซอยพระยามนธาตุฯ แยก 35-3</h3>
<h3>แขวงคลองบางบอน เขตบางบอน กรุงเทพฯ 10150</h3>
<h3>โทร (02)417-8600 ext 1 แฟ็กซ์(02)417-8603</h3>

{% endblock main-detail %}
