{% extends 'design_section/design_section-base.html' %}

{% block design-title-content %}
  <title>Drawing page</title>
{% endblock design-title-content %}
  
   
{% block design-main-content %}
  <main class="form-group w-60 m-auto">
    <h1 class="h1 mb-3 fw-normal">การอัพโหลดไฟล์ Drawing เสร็จสมบูรณ์</h1>
    <br>
    <h2 class="h2">กดปุ่ม 'other drawing' เพื่อกลับไปยังหน้าอัพโหลดไฟล์ Drawing.</h2>
    <br><br>
    <h3 class="h3"><a href="/aws-system-intranet/drawing-upload/">other drawing</a></h3>
    
  </main>
{% endblock design-main-content %}
